<div id="page-content">
        <div class="main-buttons">
                <div *ngIf="this.isAdmin===true">
                        <button id="admin-view-button" (click)="adminView()">Admin View</button>
                </div>
                <button id="logOut-button" (click)="logOut()">Log Out</button>
        </div>
        <div class="main">
                <div class="events">
                        <ul class="event-list">
                                <p id="events-par">Events</p>
                                <li class="list-items" *ngFor="let event of events">
                                        <div id="event-name" class="list-item">{{event.name}}</div>
                                        <div id="event-description" class="list-item">{{event.description | slice:0:10}}...</div>
                                        <div id="event-date" class="list-item">{{event.date}}</div>
                                        <div id="event-type" class="list-item">{{getEventType(event.eventType).type}}</div>
                                        <button id="details-button" class="list-item" (click)="showEventDetails(event)">Details</button>
                                </li>
                        </ul>

                        <div *ngIf="showDetails" class="current-event">
                                <app-event-details [event]="activeEvent" [eventTypes]='this.eventTypes'></app-event-details>
                                <button id="hide-button" (click)="hideEventDetails()">Hide</button>
                        </div> 
                </div>
        </div>
</div>