#page-content {
    width: 100%;
    min-height: 100vh;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRw3_OyJuOy0KdeqGUotUybwZddY2VC0DWuipwW46XiK20v7CZM&s);
    background-size: 100% 100%;
}

.info-header {
    display: flex;
    justify-content: row;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 30px;
}

#username {
    align-self: center;
    color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0, 0.35);
    border-right: 1px solid black;
    margin: 10px 10px;
    padding: 10px 10px;
    font-size: 1.2em;
    font-family: cursive;
    font-weight: bold;
  
}

.event-list{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.list-items {
    list-style: none;
    width: 350px;
    height: 350px;
    min-width: 200px;
    overflow: hidden;
    border: solid 2px rgba(70, 33, 59, 0.7);
    border-radius: 20px;
    /* border-image-source: linear-gradient(45deg, rgb(187, 48, 124), rgb(146, 66, 250));
    border-image-slice: 1; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: contain;
    /* background-color: rgba(255, 255, 255, 0.45); */
    flex: 0 0 28%;
    margin: 35px 25px;
    text-align: center;
}

.list-items:hover{
    box-shadow: inset 20px 20px 50px rgb(180, 108, 150);
    transition: all 0.3s ease 0s;
    transform: scale(1);
}

.overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.3), rgba(117, 19, 93, 0.3));
    width: 100%;
    height: 100%;
}

.list-item {
    margin: 10px 10px;
    padding: 10px 10px;
    font-family: cursive;
    font-size: 1.1em;
    font-weight: bold;
}

.main-buttons {
    display: flex;
    /* justify-content: flex-end; */
}

#logOut-button {
    margin: 15px 15px;
    padding: 10px 10px;
    font-family: cursive;
    font-size: 1.1em;
    font-weight: bold;
}

#admin-view-button {
    margin: 15px 15px;
    padding: 10px 10px;
    font-family: cursive;
    font-size: 1.1em;
    font-weight: bold;
}

#details-button, #logOut-button, #admin-view-button {
    border: 1.5px solid rgba(70, 33, 59, 0.7);
    /* border-image-source: linear-gradient(45deg, rgb(187, 48, 124), rgb(146, 66, 250));
    border-image-slice: 1; */
    border-radius: 10px;
    background: rgba(183, 220, 255, 0.6);
}

#details-button:hover {
    font-size: 1.2em;
    background: rgba(162, 195, 255, 0.7);
}

#logOut-button:hover {
    font-size: 1.2em;
    background: rgba(162, 195, 255, 0.7);
}

#admin-view-button:hover {
    font-size: 1.2em;
    background: rgba(162, 195, 255, 0.7);
}

#events-par {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
    font-size: 2.1em;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 25px;
}