<div id="details-content">
        <div id="details-par">
                <p>Event Details</p>
        </div>
        
        <button id="hide-button" (click)="hideClick()">Hide</button>
                
        <div id="current-event-content">
                <ul id="current-event" class="container">
                        <li id="event-attributes">
                                <div id="event-name" class="event-attr">{{event.name}}</div>
                                <div class="desc-div">
                                        <div id="event-description" class="event-attr">{{event.description}}</div>
                                </div>
                                <div id="event-date" class="event-attr">{{this.getDateFormat(event.date)}}</div>
                                <div id="event-type" class="event-attr">{{getEventType(event.eventType).type}}</div>
                        </li>
                </ul>

        </div>
        
        <div id="img" [ngStyle]="{'background-image': 'url('+eventImages.get(event.id)+')', 'background-size': 'contain', 'background-repeat': 'no-repeat', 'height': '100%', 'width': '100%'}"></div>
</div>