<div id="details-content">
        <div id="details-par">
                <p>Event Details</p>
        </div>
                
        <div id="current-event-content">
                <ul id="current-event" class="container">
                        <li id="event-attributes">
                                <div id="event-name" class="event-attr">{{event.name}}</div>
                                <div class="desc-div">
                                <div id="event-description" class="event-attr">{{event.description}}</div>
                                </div>
                                <div id="event-date" class="event-attr">{{event.date}}</div>
                                <!-- <div id="event-type">{{eventTypes[event.eventType-1].type}}</div> -->
                        </li>
                
                </ul>
        </div>
</div>