:host {
    min-height: 100vh;
    display: flex;
    background: rgba(221, 236, 255, 0.65);
    color: rgba(0, 0, 0);
    position: fixed;
    left: auto;
    top: 0;
    right: 0;
    bottom: 0;
    width: 40.5%;
    border: 1.5px solid rgba(70, 33, 59, 0.7);
    border-radius: 10px;
    overflow: hidden;
    justify-content: center;
}

#event-attributes {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
    margin-bottom: 60px;
    margin-left: -20px;
    margin-right: 80px;
    word-break: break-word;
    flex: 1 0 100%;
}

#details-par {
  margin: 30px 10px 10px;
  padding: 10px 10px;
  text-align: center;
  font-family: cursive;
  font-weight: bold;
  font-size: 1.5em;
  color:rgb(0, 0, 0);
  justify-content: center;
  align-items: center;
  word-break: break-word;
}

#current-event {
  margin: 10px 10px;
  display: flex;
  /* flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.event-attr {
  padding: 10px 10px;
  margin: 10px 0px;
  font-family: cursive;
  font-weight: bold;
  font-size: 1.1em;
}

#current-event-content {
    display: flex;
    flex-direction: column;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
}

#img {
  border-radius: 5px;
  margin-top: -60px;
}

.desc-div {
    text-align: center;
    word-break: break-word;
}

#hide-button {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: auto;
  height: 50px;
  width: 50px;
  margin: 10px 10px;
  font-family: cursive;
  font-size: 1em;
  font-weight: bold;
  border: 1.5px solid rgba(70, 33, 59, 0.7);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);
}

#hide-button:hover {
  font-size: 1.1em;
  background: rgba(255, 255, 255, 0.6);
  height: 55px;
  width: 55px;
}